body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Set width and color fa-icons*/

.facebook {
    font-size: 40px;
    color: #2643ee;
}

.youtube {
    font-size: 40px;
    color: #ef1717
}
.instagram {
    font-size: 40px;
    color:#c03bf5
}

.copyright {
    font-size: 15px;
    color: #000000;
}
/*add style ul*/
ul {
    list-style: none;
}
/*add style a*/
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
 }