@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>










@*<div class="row">
        <img src="~/Img/gym.jpg" alt="Gym" class="Fimg">
</div>*@


@*<div class="row">
    <div class="col-md-8">
        <div class="col-lg-4">
            <img src="~/Img/pearl-harbor.jpg"/>
        </div>
        <div class="">
            <h4>Prova på Kostnadsfritt</h4><hr />
            <p>Helt kostnadsfritt bjuder vi dig på 60 minuter provträning!
            Du kan träna både i gymmet eller testa på ett gruppträningspass.</p>
        </div>
    </div>
    
    
    <div class="col-md-3">
        <h4>Ta första steget</h4><hr />
        <p>Full i formuläret och få en kod som du visar upp på anläggningen.</p>
        <form>
            Förnamn & Efternam:<input />
            E-PotAdress:<input />
            Telefon:<input /> Personnumer<input />
            Välj Närmaste anläggning: <input />
        </form>
    </div>
</div>*@



 

<div class="row">
    <div class="col-md-4">
        <h3>Prova på</h3><hr />
        <ul>
            <li><a href="#">Bli medlem</a></li>
            <li><a href="#">Hitta gym</a></li>
            <li><a href="#">Kontakta oss</a></li>
            <li><a href="#">För dig som ny medlem</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Träning</h3><hr />
        <ul>
            <li><a href="#">Personlig tränare</a></li>
            <li><a href="#">Konditionträning</a></li>
            <li><a href="#">Gruppträning</a></li>
            <li><a href="#">Styrketräning</a></li>
            <li><a href="#">Simning</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Inspiration</h3><hr />
        <ul>
            <li><a href="#">Träningstips</a></li>
            <li><a href="#">Äta rätt</a></li>
            <li><a href="#"> Bättre vanor</a></li>
            <li><a href="#">Nyheter</a></li>
        </ul>
    </div>
</div>